@font-face {
  font-family: Norse Bold;
  src: url('./Norse-Bold/Norse-Bold.eot');
  src: url('./Norse-Bold/Norse-Bold.svg');
  src: url('./Norse-Bold/Norse-Bold.ttf');
  src: url('./Norse-Bold/Norse-Bold.woff');
}

@font-face {
  font-family: Cocogoose;
  src: url('./cocogoose-cufonfonts-webfont/cocogoose_trial.woff');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('./Lato-webfont/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Thin';
  src: url('./Lato-webfont/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Italic';
  src: url('./Lato-webfont/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: url('./Lato-webfont/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('./Lato-webfont/Lato-Regular.ttf') format('truetype');
}
