* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato Regular;
  color: #272a31;
}

.img-activities {
  width: 100px;
}

#hamburger-container {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 35px;
  .hamburguer {
    background-color: rgb(88, 88, 88);
    height: 6px;
    margin-bottom: 5px;
  }
}

#title {
  background: linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8)), url("./Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 20px;
  div:first-child {
    opacity: 1;
    padding-bottom: 10px;
    h2,
    h1 {
      color: #ec5242;
      font-family: Cocogoose;
    }
  }
  div:last-child {
    padding-bottom: 40px;
    p:first-child {
      border: 1px solid white;
      padding: 10px 20px;
    }
    h1 {
      font-family: Cocogoose;
      padding-top: 10px;
    }
  }
}

#program {
  background-color: #272a31;
  background-image: url("./Images/pattern_bg.png");
  background-repeat: repeat;
  padding: 30px 20px;

  h2 {
    text-align: center;
    border-bottom: 1px solid #ec5242;
    padding-bottom: 20px;
  }

  .programs .title {
    color: #ec5242;
    width: 173px;
  }

  h2,
  .programs p:last-child {
    color: white;
  }

  #programs-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .programs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: rgba(211, 211, 211, 0.1);
      padding: 20px 20px;
    }
  }
}
