* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato Regular, sans-serif;
  color: #272a31;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272a31;
}

#hiden-header,
#hiden-program,
#mobile-menu,
.hide {
  display: none;
}

#mobile-menu {
  position: fixed;
  z-index: 999;
  background-color: #272a31;
  color: white;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-left: 20px;
  gap: 50px;
  animation-name: menu;
  animation-duration: 0.5s;
  animation-timing-function: ease;

  #x-container {
    top: 15px;
    left: 20px;
    width: 35px;

    .x {
      height: 3px;
      margin-bottom: 9.5px;
      background-color: white;
    }

    .x:nth-child(2) {
      background-color: #272a31;
    }

    .x:first-child {
      animation-name: first;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      transform: rotate(45deg);
      transform-origin: left;
    }

    .x:last-child {
      animation-name: second;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      transform: rotate(-45deg);
      transform-origin: left;
    }
  }

  @keyframes first {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(45deg);
    }
  }

  @keyframes second {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(-45deg);
    }
  }

  @keyframes menu {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  #menu a {
    color: #ec5242;
  }

  #menu .menu-sections {
    padding-bottom: 20px;
    font-size: 1.5rem;
  }
}

.img-activities {
  width: 100px;
  height: 100px;
}

#hamburger-container {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 35px;

  .hamburguer {
    background-color: rgb(88, 88, 88);
    height: 6px;
    margin-bottom: 5px;
  }
}

#main-activities .activities p {
  font-size: 0.7rem;
}

#program h2 {
  text-align: center;
  border-bottom: 1px solid #ec5242;
  padding-bottom: 20px;
  color: white;
}

#program .programs p:last-child {
  color: white;
}

#main-activities > h2 {
  text-align: center;
  border-bottom: 1px solid #ec5242;
  padding-bottom: 20px;
}

#title {
  background: linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8)), url("./Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 20px;

  div:first-child {
    opacity: 1;
    padding-bottom: 10px;

    h2,
    h1 {
      color: #ec5242;
      font-family: Cocogoose, sans-serif;
    }
  }

  div:last-child {
    padding-bottom: 40px;

    p:first-child {
      border: 1px solid white;
      padding: 10px 20px;
    }

    h1 {
      font-family: Cocogoose, sans-serif, serif;
      padding-top: 10px;
    }
  }
}

#program {
  background-color: #272a31;
  background-image: url("./Images/pattern_bg.png");
  background-repeat: repeat;
  padding: 30px 20px;

  .programs {
    font-size: 0.7rem;
  }

  .programs .title {
    color: #ec5242;
    width: 173px;
  }

  #programs-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .programs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: rgba(211, 211, 211, 0.1);
      padding: 20px 20px;
    }
  }

  button {
    margin-top: 20px;
    background-color: #ec5242;
    color: white;
    padding: 20px 30px;
    border: none;
    align-self: center;
  }
}

#main-activities {
  padding: 20px 15px;

  #activities-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .activities {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    .h2-activities {
      padding-bottom: 10px;
    }

    .p1-activities {
      font-family: Lato Italic, sans-serif, serif;
      color: #ec5242;
      padding-bottom: 2px;
    }

    .p2-activities {
      padding-top: 2px;
    }
  }
}
