@font-face {
  font-family: Norse Bold;
  src: url('./Norse-Bold/Norse-Bold.eot');
  src: url('./Norse-Bold/Norse-Bold.svg');
  src: url('./Norse-Bold/Norse-Bold.ttf');
  src: url('./Norse-Bold/Norse-Bold.woff');
}

@font-face {
  font-family: Cocogoose;
  src: url('./cocogoose-cufonfonts-webfont/cocogoose_trial.woff');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('./Lato-webfont/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Thin';
  src: url('./Lato-webfont/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Italic';
  src: url('./Lato-webfont/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  src: url('./Lato-webfont/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('./Lato-webfont/Lato-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato Regular, sans-serif;
  color: #272a31;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #272a31;
}

.text-hide {
  display: none;
}

#hiden-header,
#hiden-program,
#mobile-menu,
.hide {
  display: none;
}

#mobile-menu {
  position: fixed;
  z-index: 999;
  background-color: #272a31;
  color: white;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-left: 20px;
  gap: 50px;
  animation-name: menu;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  overflow: scroll;
}

#mobile-menu #x-container {
  top: 15px;
  left: 20px;
  width: 35px;
}

#mobile-menu #x-container .x {
  height: 3px;
  margin-bottom: 9.5px;
  background-color: white;
}

#mobile-menu #x-container .x:nth-child(2) {
  background-color: #272a31;
}

#mobile-menu #x-container .x:first-child {
  animation-name: first;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  transform: rotate(45deg);
  transform-origin: left;
}

#mobile-menu #x-container .x:last-child {
  animation-name: second;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  transform: rotate(-45deg);
  transform-origin: left;
}

@keyframes first {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes second {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-45deg);
  }
}

@keyframes menu {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

#mobile-menu #menu a {
  color: #ec5242;
}

#mobile-menu #menu .menu-sections {
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.img-activities {
  width: 100px;
  height: 100px;
}

.bar-activities {
  width: 8%;
  border-color: #d3d3d3;
}

#hamburger-container {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 35px;
}

#hamburger-container .hamburguer {
  background-color: rgb(39, 42, 49);
  height: 6px;
  margin-bottom: 5px;
}

.hr-bar {
  width: 30px;
  border-color: #ec5242;
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-div h2 {
  padding-bottom: 10px;
}

#logo-explain p {
  padding-top: 10px;
  font-size: 0.8rem;
  padding-bottom: 20px;
}

#logo-subContainer p {
  font-size: 0.6rem;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

#last-festivals p {
  padding-top: 10px;
  font-size: 0.8rem;
  padding-bottom: 30px;
}

#title-second p {
  font-size: 1rem;
}

#main-activities .activities p {
  font-size: 12px;
}

#program h2 {
  color: white;
}

#title-second p:first-child {
  background-color: white;
  border: 1px solid #d3d3d3;
  padding: 20px 10px;
  margin-top: 30px;
}

#title-second p:nth-child(2) {
  padding-top: 20px;
}

#title-second p:last-child {
  padding-top: 10px;
  font-family: Lato Bold, sans-serif, serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

#program .programs p:last-child {
  color: white;
}

#main-activities > h2 {
  text-align: center;
  border-bottom: 1px solid #ec5242;
  padding-bottom: 20px;
}

#title {
  background: linear-gradient(rgba(211, 211, 211, 0.8), rgba(211, 211, 211, 0.8)), url('./Images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 20px;
}

#title div:first-child {
  opacity: 1;
  padding-bottom: 10px;
}

#logo-explain h1 {
  padding-bottom: 10px;
}

#logo-subContainer h1,
#logo-subContainer h3 {
  font-family: Norse Bold, sans-serif, serif;
  text-align: left;
  font-size: 1.8rem;
}

#last-festivals h1 {
  padding-bottom: 10px;
}

#logo-footer h1 {
  font-family: Norse Bold, sans-serif, serif;
}

#previous-festivals h1 {
  font-size: 30px;
}

#partners .title-div > h1 {
  color: white;
  padding-bottom: 10px;
}

#title div:first-child h2,
#title div:first-child h1 {
  color: #ec5242;
  font-family: Cocogoose, sans-serif;
}

#title div:last-child {
  padding-bottom: 40px;
}

#title div:last-child p:first-child {
  border: 1px solid white;
  padding: 10px 20px;
}

#title div:last-child h1 {
  font-family: Cocogoose, sans-serif, serif;
  padding-top: 10px;
}

#program {
  background-color: #272a31;
  background-image: url('./Images/pattern_bg.png');
  background-repeat: repeat;
  padding: 30px 20px;
}

#program .programs {
  font-size: 12px;
}

#program .programs:hover {
  border: 2px solid white;
  cursor: pointer;
}

#program .programs .title {
  font-family: Lato Bold, sans-serif, serif;
  color: #ec5242;
  width: 255px;
  font-size: 13px;
}

#program #programs-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#program #programs-container .programs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 20px;
}

#program button {
  margin-top: 20px;
  background-color: #ec5242;
  color: white;
  padding: 20px 30px;
  border: none;
  align-self: center;
}

#main-activities {
  padding: 20px 15px;
}

#main-activities #activities-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#main-activities .activities {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

#main-activities .activities .h2-activities {
  padding-bottom: 5px;
}

#main-activities .activities .p1-activities {
  font-family: Lato Italic, sans-serif, serif;
  color: #ec5242;
  padding-bottom: 10px;
}

#main-activities .activities .p2-activities {
  padding-top: 10px;
}

#hr-hide,
.text-hide2 {
  display: none;
}

#title-about {
  background: linear-gradient(rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9)), url(./Images/background-about.jpg);
  background-size: cover;
  padding: 0 20px;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

#title-first {
  color: #ec5242;
  font-family: Cocogoose, sans-serif;
}

.logo {
  width: 60px;
}

#logo-section {
  padding: 20px 20px;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

#logo-container {
  border: 1px solid #d3d3d3;
  display: flex;
  padding: 30px 30px;
  justify-content: center;
}

#logo-subContainer h3 {
  font-size: 1.3rem;
}

#logo-subContainer #logo-place {
  padding-left: 5px;
  border-left: 1px solid #d3d3d3;
  margin-left: 5px;
}

#last-festivals {
  text-align: center;
  padding: 20px 20px;
}

#previous-festivals {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#previous-festivals h3 {
  font-family: Lato Light, sans-serif;
  font-size: 1rem;
}

#kyoto-festival {
  background: linear-gradient(rgba(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url('./Images/kyoto.jpg');
  background-size: cover;
  color: white;
  padding: 20% 20%;
}

#osaka-festival {
  background: linear-gradient(rgba(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url('./Images/osaka.jpg');
  background-size: cover;
  color: white;
  padding: 20% 20%;
}

#partners {
  background-color: #414246;
  text-align: center;
  padding: 20px 20px;
}

#partners-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#partners-container .partners {
  color: gray;
}

#partners-container #airbnb {
  width: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 20px;
}

#logo-footer {
  display: flex;
  align-items: center;
}

#footer-info {
  font-size: 0.7rem;
}

@media only screen and (min-width: 375px) {
  .img-activities {
    width: 150px;
    height: 150px;
  }

  #program .programs {
    font-size: 0.9rem;
  }

  #program .programs .title {
    width: 185px;
    font-size: 1rem;
  }

  #main-activities .activities p {
    font-size: 0.8rem;
  }

  #main-activities .activities .p1-activities {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 425px) {
  .text-hide {
    display: contents;
  }
}

@media only screen and (min-width: 768px) {
  #hamburger-container {
    display: none;
  }

  #hiden-header {
    box-shadow: 0 0 10px 5px #d3d3d3;
    display: block;
  }

  #hr-hide,
  .text-hide2 {
    display: block;
  }

  #title-second p:first-child {
    padding-left: 50px;
    padding-right: 50px;
  }

  #social-media {
    background-color: #272a31;
    color: white;
    font-size: 0.9rem;
    padding: 10px 0;
    padding-right: 10%;
  }

  #social-list,
  #nav-bar,
  #nav-list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }

  #nav-bar {
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #nav-bar #logo-container {
    padding: 0;
    border: none;
  }

  #nav-bar #logo-container img {
    width: 50px;
  }

  #nav-list .nav-sections:first-child a {
    color: #ec5242;
  }

  #nav-list .nav-sections:last-child {
    border: 3px solid #ec5242;
    padding: 10px 10px;
    color: #ec5242;
  }

  #title {
    padding-left: 20%;
  }

  #title div:first-child {
    font-size: 2rem;
    width: 60%;
  }

  #title div:last-child {
    width: 50%;
  }

  #program {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #hiden-program {
    display: block;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: white;
    padding-top: 50px;
    text-align: center;
  }

  #program #programs-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #program #programs-container p {
    font-size: 1rem;
  }

  #program #programs-container .title {
    font-size: 1.5rem;
  }

  #program #programs-container button {
    display: none;
  }

  #program #programs-container .programs {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 180px;
    text-align: center;
  }

  #main-activities {
    background-color: #e7e7e7;
  }

  #main-activities .activities {
    gap: 30px;
  }

  #main-activities #activities-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #main-activities #activities-container .activities {
    width: 47%;
  }

  .hide {
    display: flex;
    background-color: #d3d3d3;
  }

  #partners.hide {
    display: block;
  }

  #partners.hide h1 {
    color: gray;
  }

  #title-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }

  #title-first {
    width: 70%;
    font-size: 2rem;
  }

  #title-second {
    width: 70%;
  }

  #logo-section {
    padding: 0 20%;
    padding-top: 2%;
    padding-bottom: 5%;
  }

  #logo-section #logo-explain p {
    font-size: 1rem;
  }

  #logo-section #logo-container {
    padding-left: 0;
    padding-right: 0;
  }

  #logo-section #logo-container img {
    width: 80px;
  }

  #logo-section #logo-container #logo-subContainer h1 {
    font-size: 3rem;
  }

  #logo-section #logo-container #logo-subContainer h3 {
    font-size: 1.4rem;
  }

  #logo-section #logo-container #logo-subContainer p {
    font-size: 0.7rem;
  }

  #last-festivals {
    padding-top: 5%;
  }

  #previous-festivals {
    flex-direction: row;
    padding-left: 20%;
    padding-right: 10%;
    padding-bottom: 5%;
  }

  #previous-festivals #kyoto-festival,
  #previous-festivals #osaka-festival {
    padding: 0;
    width: 100%;
    height: 150px;
    padding-top: 10%;
  }

  #partners.hide-about {
    display: none;
  }

  footer.style-about {
    background-color: #272a31;
    color: white;
  }
}

@media only screen and (min-width: 1024px) {
  #main-activities {
    padding: 5% 10%;
  }

  #logo-section #logo-container {
    margin-left: 25%;
    margin-right: 25%;
  }

  #nav-list .nav-sections:nth-child(5) {
    padding-right: 5%;
  }

  #nav-list .nav-sections:not(.nav-sections:first-child, .nav-sections:last-child) {
    padding-left: 5%;
  }
}

/*# sourceMappingURL=styles.css.map */
